*{
    padding: 0;
    margin: 0;
}
html{
  height: 100%;
}
/* HEADER Titulo*/ 
.title h1{
	padding: 1px 0;
	text-align: center;
	font-size: 2.5em;
	text-transform: uppercase;
	background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
    color: #FFFFFF ;
}

form {
	margin:0 auto;
	width: 400px;
	padding: 1em;
	border: 2px solid #000000 ;
	border-radius: 1em;

}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
form li + li {
	margin-top: 1em;
}
label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #998F8F ;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}

footer {
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
   padding-bottom:0.1px; 

}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 40px;

}
.Contac-us {
  width: 40%;
  color: #fff;
}

.brand{
  font-weight: 500;
  font-size: 40px,

}
.brand+p {
  font-weight: 500;

}
.Social-Media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.Medio-social-incono{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;

}

.Medio-social-incono:hover{
  background: #fff;
  color: #000000;
}

.Medio-social-incono i{
  font-size: 30px;
  line-height: 60px;
}
.line{
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  height: 1px;
  background: #fff;
  margin-bottom: 20px;
}


.No {
  /*Este centra los recuadritos rectangulares bueno a la altura */
  margin: 100px auto 0;
  position: relative;
  /*Esta es para los cuadritos de Inicio registrar etc */
  width: 200px;
  /*Altura De Los Cuadritos*/
  height: 50px;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
  /*Circula los Regtangulitos*/
  border-radius: 50px;
  /*Tamaño de letra de los Regtangulitos*/
  font-size: 2;
}
.No a {
  /*Centra la letra de los Regtangulitos*/
  line-height: 50px;
  /*--*/
  height: 200%;
  /*Tamaño de letra de´los cuadrtos*/
  font-size: 20px;
  display: inline-block;
  position: relative;
  /*--*/
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}