*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	scroll-behavior: smooth;
}
body{
}

.contenedor{ 
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;
 }
/*Imagen del centro y color*/
 header{
 	height: 100vh;
 	background-image:linear-gradient(to top, rgba(161,140,209,0.40) 0%, rgba(251,194,235,0.40) 100%) , url(imag/TRES.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	background-position: center;
}
/* Apartado de color ,textos y centro de titulo aqui merengez*/
.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}
.hamburger{
	position: fixed;
	z-index: 10 ;
	top: 30px;
	right: 30px;
	background: #fff;
	width: 43px;
	height: 43px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 60px rgba(0,0,0,.5);
}
/* Apartado de la derecha desplazamiento del menu */
.Menu_Navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 25vw;
	height: 100%;
	background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out; 
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.spread{
	transform: translate(0);
}
.Menu_Navegacion a{
	color: #fff;
	text-decoration: none;
}
.Titulo{
	font-size: 70px;
	margin-bottom: 15px;
}

.copy {
	font-weight: 300;
	font-size: 30px;
}
/*Nuestro Servivio*/

.Subtitulo {
	text-align: center;
	font-weight: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px;

}

.Contenedor-Servicio {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

}
.Contenedor-Servicio img{
	width: 40%;
}

.checklist-servivio{
	width: 45%;

}
.Service{
	margin-bottom: 20px;
}

.n-service{
	margin-bottom: 7px;
	color: #9f8ad0,

}

.number{
	display: inline-block;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-weight: 700%;
	line-height: 30px,
	margin-right:5px;
}
 .Galeria {
 	background: #f2f2f2;
 }

.Contenedor_Galeria {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-Galeria {
	object-fit: cover;
	width: 30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0,0,0,.5)
	cursor:pointer;
}
.imagen-light{
	position: fixed;
	background: rgba(0 ,0 ,0,.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: transform .2s ease-in-out;

}

.show {
	transform: translate(0);
}

.Agregar-imagen{
	object-fit: cover;
	width: 60%;
	border-radius: 10px;
	transform: scale(0);
	transition: transform .3s .2s;
}

.showImagen {
	transform: scale(1);

}

.Close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	cursor: pointer;
	color: #fff;
}

.Experts {
	display: flex;
	justify-content: space-evenly,
	align-items:center;
	flex-wrap: wrap;

}

.Cont-Expert {
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}
.Cont-Expert img{
	display: block;
	width: 70%;
	margin: 0 auto;
}
.N-expertos {
	display: inline-block;
	margin-top: 20px;
	width: 100% ;
	font-weight:400;

}
/* Footer*/
footer {
	background: #9f8ad0;
	padding-bottom:0.1px; 


}
.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;

}
.Contac-us {
	width: 40%;
	color: #fff;
}

.brand{
	font-weight: 500;
	font-size: 40px,

}
.brand+p {
	font-weight: 500;

}
.Social-Media {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.Medio-social-incono{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;

}

.Medio-social-incono:hover{
	background: #fff;
	color: #7649a2;
}

.Medio-social-incono i{
	font-size: 30px;
	line-height: 60px;
}
.line{
	width: 90%;
	max-width: 1200px;
	margin:0 auto;
	height: 2px;
	background: #fff;
	margin-bottom: 60px;
}
 
 @media screen and (max-width: 800){
 	.Menu_Navegacion{
 		width: 50vw;
 	}

 	.Titulo{
 		font-size: 40px;
 	}

 	.Contenedor-Servicio img{
 		width: 80%;
 		margin-bottom: 40px;

 	}
 	.checklist-servivio {
 		width: 80%;
 	}

 	.Service{
 		margin-bottom: 30px;
 	}
 	.Agregar-imagen {
 		width: 80%;
 	}

 	.img-Galeria {
 		width: 45%;
 	}

 	.Cont-Expert {
 		width: 80%;
 	}

 	.footer-content{
 		justify-content: center;
 	}

 	.Social-Media {
 		width: 80%;
 		justify-content: space-evenly;
 	}
 	.Medio-social-incono {
 		margin-left: 0;
 	}


 	.Social-Media i{
 		margin-left: 0;
 	}
 	.Contac-us {
 		text-align: center;
 		width: 80%;
 		margin-bottom: 40px;
 	}

 }

 @media screen and (max-width: 500px) {
 	.Menu_Navegacion {
 		width: 65vw;

 	}

 	.hamburger {
 		top: 20px;
 		right: 20px;

 	}

 	.Titulo {
 		font-size: 30px; 
 	}
 	.Subtitulo {
 		font-size: 30px;
 	}


 	.Agregar-imagen {
 		width: 95%;
 	}

 	.img-Galeria {
 		width: 95%;
 	}

 	.Social-Media {
 		width: 100%;
 	}
 	.Contac-us {
 		width: 90%;
 	}
 }