
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER Titulo*/ 
.title h1{
  padding: 1px 0;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #517a73 0%, #9face6 100%);  
  background-blend-mode: normal, lighten, soft-light;
  color: #FFFFFF ;
  font-family: fuenteTitulo6;
}
.contenedor {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;

}
.Contenedor figure{
	position: relative;
	width: 450px;
	height: 350px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.50) ;
	cursor: pointer;
	justify-content: space-around;
}
.Contenedor figure img{
	width: 100%;
	height:100%;
	transition: all 500ms ease-out;

}
.Contenedor figure .Cap{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
  background: rgba( 183 , 189 ,189,0.6);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;

}
.Contenedor figure:hover > .Cap{
	opacity: 1;
	visibility: visible;	
}
.contenedor figure:hover > .Cap h3{
	margin-top: 70px;
	margin-bottom:15px;
}
.Contenedor figure:hover > img{
	transform: scale(1.3);

}


.Contenedor figure .Cap h3{
	color: #fff;
	font-weight: 400;
	margin-bottom: 120px;
	transition: all 500ms ease-out;
	margin-top: 30px;
}
.Contenedor figure .Cap p{
	color: rgb(0, 0, 0);
	font-size: 20px;
	line-height:  1.5;
	width: 100%;
	max-width: 220px;
	margin: auto;
 
}

/*bOTONES INICIO,PRECIOS */
nav {
  /*Este centra los recuadritos rectangulares bueno a la altura */
  margin: 100px auto 0;
  position: relative;
  /*Esta es para los cuadritos de Inicio registrar etc */
  width: 200px;
  /*Altura De Los Cuadritos*/
  height: 50px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #517a73 0%, #9face6 100%);  
  background-blend-mode: normal, lighten, soft-light;
  /*Circula los Regtangulitos*/
  border-radius: 50px;
  /*Tamaño de letra de los Regtangulitos*/
  font-size: 2px;
}
nav a {
  /*Centra la letra de los Regtangulitos*/
  line-height: 50px;
  /*--*/
  height: 200%;
  /*Tamaño de letra de´los cuadrtos*/
  font-size: 25px;
  display: inline-block;
  position: relative;
  font-family: fuenteTitulo5;
  /*--*/
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

/*Pie De Pagina*/

footer {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #517a73 0%, #9face6 100%);  
  background-blend-mode: normal, lighten, soft-light;
  padding-bottom:0.1px; 

}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 40px;

}
.Contac-us {
  width: 40%;
  color: #fff;
}

.brand{
	font-weight: 400;
	font-size: 40px;
	font-family:fuenteTitulo5;

}
.brand+p {
  font-weight: 500;

}
.Social-Media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.Medio-social-incono{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;

}

.Medio-social-incono:hover{
  background: #fff;
  color: #000000;
}

.Medio-social-incono i{
  font-size: 30px;
  line-height: 60px;
}
.line{
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
  height: 1px;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}