@font-face {
    font-family: fuenteTitulo;
    src: url("Harland Roselyn.ttf");
}

@font-face {
    font-family: fuenteTitulo2;
    src: url("Destiny\ Signature.ttf");
}

@font-face {
    font-family: fuenteTitulo3;
    src: url("Alone in the dark.ttf");
}

@font-face {
    font-family: fuenteTitulo4;
    src: url("Vogue.ttf");
}
@font-face {
    font-family: fuenteTitulo5;
    src: url("Cafe Matcha.ttf");
}
@font-face {
    font-family: fuenteTitulo6;
    src: url("ART\ HISTORY\ BOOK.otf");
}
@font-face {
    font-family: fuenteTitulo7;
    src: url("Outlander.ttf");
}
@font-face {
    font-family: fuenteTitulo8;
    src: url("Heland.ttf");
}
@font-face {
    font-family: fuenteTitulo9;
    src: url("Danisha.otf");
}
@font-face {
    font-family: fuenteTitulo10;
    src: url("DK\ Lemon\ Yellow\ Sun.otf");
}
@font-face {
    font-family: fuenteTitulo11;
    src: url("Waterfall\ Phoenix.ttf");
}
@font-face {
    font-family: fuenteTitulo12;
    src: url("Tribal\ Butterflies.ttf");
}
@font-face {
    font-family: fuenteTitulo13;
    src: url("Valentine\ Cute.ttf");
}
@font-face {
    font-family: fuenteTitulo14;
    src: url("Sofye\ Demo.ttf");
}
@font-face {
    font-family: fuenteTitulo15;
    src: url("Georgia\ Brush.otf");
}
@font-face{
    font-family: Precios;
    src: url("Aniyah.otf");
}